/* Sun & Moon - Shared */
.Sun-Moon {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
  transition: all 1s ease-in-out;
}

/* Light Mode (Sun) */
.move-left {
  background-color: #ffff00; /* Yellow for sun */
  left: -110px;
  top: 600px;
  box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0.6);
}

/* Dark Mode (Moon) */
.move-right {
  background-color: #fff; /* White for moon */
  left: calc(100% - 220px);
  top: 600px;
  box-shadow: 0 0 30px 40px rgba(255, 255, 255, 0.1); /* Softer glow */
}
