body {
  background-color: #0099ff;
}

/* dark to light */
/* button */
.Dark-Light-Mode-Button {
  padding: 20px 60px;
  border-radius: 100px;
  border: none;
  background-color: #010825;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}
.Dark-Light-Mode-Button:hover {
  background-color: #2391f8;
}

/* text */
.Dark-Light-Mode-text {
  color: #fff;
  font-size: 15px;
  position: relative;
  right: 27px;
  top: -5px;
  z-index: 2;
  transition: all 1s ease;
}
.Dark-Light-Mode-Button:hover .Dark-Light-Mode-text {
  right: -3px;
}

/* sun  */
.Dark-Light-Mode-Button::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  right: -20px;
  top: -10px;
  border-radius: 50%;
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.6);
  z-index: 1;
  transition: all 1s ease;
}
.Dark-Light-Mode-Button:hover::before {
  right: 130px;
  background-color: #ffff00;
}

/* clouds */
.Dark-Light-Mode-cloud {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: 1;
}
.Dark-Light-Mode-cloud:nth-of-type(2) {
  width: 40px;
  left: 10px;
  bottom: -20px;
}

.Dark-Light-Mode-cloud:nth-of-type(3) {
  width: 60px;
  left: 40px;
  bottom: -40px;
}
.Dark-Light-Mode-cloud:nth-of-type(4) {
  width: 50px;
  left: 80px;
  bottom: -40px;
}
.Dark-Light-Mode-cloud:nth-of-type(5) {
  width: 80px;
  left: 110px;
  bottom: -60px;
}

/* light to dark */

/* button */
.Light-Dark-Mode-Button {
  padding: 20px 60px;
  border-radius: 100px;
  border: none;
  background-color: #23dff8;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 1s ease;
}
.Light-Dark-Mode-Button:hover {
  background-color: #010825;
}

/* text */
.Light-Dark-Mode-text {
  color: #fff;
  font-size: 15px;
  position: relative;
  left: 30px;
  top: -5px;
  z-index: 2;
  transition: all 1s ease;
}
.Light-Dark-Mode-Button:hover .Light-Dark-Mode-text {
  left: -3px;
}

/* sun  */
.Light-Dark-Mode-Button::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #ffff00;
  left: -20px;
  top: -10px;
  border-radius: 50%;
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 0.6);
  z-index: 1;
  transition: all 1s ease;
}
.Light-Dark-Mode-Button:hover::before {
  left: 130px;
  background-color: #fff;
}

/* clouds */
.Light-Dark-Mode-cloud {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: 1;
}
.Light-Dark-Mode-cloud:nth-of-type(2) {
  width: 40px;
  left: 10px;
  bottom: -20px;
}

.Light-Dark-Mode-cloud:nth-of-type(3) {
  width: 60px;
  left: 40px;
  bottom: -40px;
}
.Light-Dark-Mode-cloud:nth-of-type(4) {
  width: 50px;
  left: 80px;
  bottom: -40px;
}
.Light-Dark-Mode-cloud:nth-of-type(5) {
  width: 80px;
  left: 110px;
  bottom: -60px;
}
body {
  transition: background-color 1s ease-in-out;
}

.dark-mode {
  background-color: #010825 !important;
}

.light-mode {
  background-color: #0099ff;
}

.cloud1 {
  position: fixed;
  transform: scale(0.4);
  padding: 10px;
  z-index: -2;
  top: 50px;
  left: 800px;
  max-width: 100vw;
  animation: animateCloud 30s linear infinite;
}

.cloud2 {
  position: fixed;
  transform: scale(0.6);
  padding: 10px;
  top: 80px;
  left: 1200px;
  max-width: 90vw;
  z-index: -2;
  animation: animateCloud 35s linear infinite;
}
@media (max-width: 768px) {
  .cloud1 {
    transform: scale(0.3);
    left: 50px;
    top: 30px;
  }

  .cloud2 {
    transform: scale(0.4);
    left: 190px;
    top: -180px;
  }
}
.base1 {
  position: relative;
  top: 180px;
  right: 1000px;
  width: 300px;
  height: 20px;
  background: #ddd4d0;
  border-radius: 100px;
  background: radial-gradient(75% 110% at bottom, #ddd4d0 80%, #fff 100%);
  background: linear-gradient(#fff, #ddd4d0 40%);
}

.one {
  content: '';
  position: absolute;
  top: -100px;
  left: 40px;
  width: 120px;
  height: 120px;
  background: #ddd4d0;
  border-radius: 50%;
  background: radial-gradient(
    100% 80% at bottom right,
    #ddd4d0 110%,
    #fff 130%
  );
}

.two {
  content: '';
  position: absolute;
  top: -170px;
  left: 135px;
  width: 150px;
  height: 190px;
  background: #ddd4d0;
  border-top-left-radius: 45%;
  border-top-right-radius: 60%;
  border-bottom-right-radius: 40%;
  background: radial-gradient(75% 110% at bottom, #ddd4d0 85%, #fff 90%);
}

.base2 {
  position: relative;
  right: 300px;
  top: 1030px;
  width: 450px;
  height: 20px;
  background: #ddd4d0;
  border-radius: 100px;
  background: linear-gradient(#fff, #ddd4d0 40%);
}

.base2half {
  position: absolute;
  top: -13px;
  right: 6px;
  width: 400px;
  height: 30px;
  background: #ddd4d0;
  border-radius: 50% 50% 50% 50%;
  background: linear-gradient(#fff, #ddd4d0 50%);
}

.three {
  content: '';
  position: absolute;
  top: -110px;
  left: 110px;
  width: 120px;
  height: 120px;
  background: #ddd4d0;
  border-radius: 200% 200% 0% 200%;
  background: radial-gradient(90% 90% at bottom right, #ddd4d0 110%, #fff 130%);
  box-shadow: 100px -30px 0 30px #fff;
}

.four {
  content: '';
  position: absolute;
  top: -100px;
  left: 180px;
  width: 170px;
  height: 120px;
  background: #ddd4d0;
  border-radius: 50% 50% 0% 0%;
  background: radial-gradient(70% 100% at bottom, #ddd4d0 90%, #fff 100%);
}

.five {
  content: '';
  position: absolute;
  top: -180px;
  left: 310px;
  width: 120px;
  height: 200px;
  background: #ddd4d0;
  border-radius: 90% 100% 100% 100%;
  transform: rotate(20deg);
  background: radial-gradient(75% 110% at bottom, #ddd4d0 85%, #fff 90%);
}

.six {
  content: '';
  position: absolute;
  top: -180px;
  left: 180px;
  width: 160px;
  height: 160px;
  background: #ddd4d0;
  border-radius: 50%;
  background: radial-gradient(95% 85% at bottom right, #ddd4d0 120%, #fff 130%);
}

.seven {
  content: '';
  position: absolute;
  top: -115px;
  left: 240px;
  width: 100px;
  height: 100px;
  background: #ddd4d0;
  border-radius: 50%;
  background: radial-gradient(
    110% 90% at bottom right,
    #ddd4d0 100%,
    #fff 130%
  );
  box-shadow: 100px -30px 0 30px #fff;
}

#stars {
  position: fixed;
  top: 10px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.star {
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 2px;
  background-color: white;
}
